body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .chatbot-container {
    width: 80vw;
    height: 80vh; /* Set a fixed height for the chatbot container */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between messages and input */
  }
  
  .chatbot-messages {
    flex-grow: 1;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .message.bot {
    align-self: flex-start;
    background-color: #f0f0f0;
  }
  
  .message-text {
    margin-bottom: 10px;
  }
  
  .message-files {
    display: flex;
    flex-wrap: wrap;
  }
  
  .uploaded-file {
    width: 200px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    object-fit:contain;
    border-radius: 8px;
  }
  
  .response-number {
    font-size: 12px;
    color: #999;
  }
  
  .chatbot-input {
    display: flex;
    align-items: center;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: #f9f9f9;
    padding: 10px 0;
  }
  
  .chatbot-input input[type="text"] {
    flex-grow: 7;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
  }
  
  .chatbot-input .upload-label {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    width: 10%;
  }
  
  .chatbot-input .upload-icon {
    width: 50px;
    height: 50px;
  }
  
  .chatbot-input button {
    flex-grow: 2;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
  }
  
  .chatbot-input button:hover {
    background-color: #0056b3;
  }
  
  .copy-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
  }
  
  .copy-button:hover {
    background: #0056b3;
  }
  